.table-answer {
  //
  .th-num {
    width: 50px;
  }
  .th-username {
    width: 175px;
  }
  .th-task-num {
    width: 150px;
  }
  .th-task-text {
    //
  }
  .th-answer-result {
    width: 175px;
  }
}
