body {
  background-color: #f5f5f5;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.hidden {
  display: none;
}

@import "singin";
@import "table";

.visible-flex {
  display: flex;
}

.hidden {
  display: none;
}
.visible-flex-md {
  @media (max-width: 770px) {
    display: flex;
  }
}

.hidden-md {
  @media (max-width: 770px) {
    display: none;
  }
}

.nav-for-mobile {
  @media (min-width: 770px) {
    display: none !important;
  }
}

.nav-for-laptop {
  @media (max-width: 770px) {
    display: none !important;
  }
}
